.menu {
  line-height: 26px;
  background-color: transparent;

  :global {
    .ant-menu-item {
      border-bottom: none !important;
    }
  }
}

.sub-menu {
  line-height: 24px;
  border-bottom: none !important;

  :global {
    .ant-menu-vertical {
      .ant-menu-item, .ant-menu-submenu {
        margin-bottom: 0;
        margin-top: 0;
        height: 32px;
        line-height: 32px;

        &:first-of-type {
          margin-top: 4px;
        }

        &:last-of-type {
          margin-bottom: 4px;
        }
      }

      .ant-menu-submenu-title {
        margin: 0;
      }
    }

    .ant-menu-item-divider {
      margin: 0;
    }
  }
}

.menu-text {

}

.menu-shortcut {

}
