$logo-size: 24px;
$menu-height: 26px;

.header {
  -webkit-app-region: drag;
  height: 50px;
  display: flex;
  position: relative;

  &:after {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		content: '';
		border-bottom: 1px solid #d3d3d3;
		pointer-events: none;
	}
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right {
  -webkit-app-region: no-drag;
}

.menu-wrap {
  display: flex;
  flex-direction: row;

  & > .placeholder {
    flex: 1;
  }
}

.menu {
  -webkit-app-region: no-drag;
  height: $menu-height;
  display: inline-block;

  &.active {
    li {
      &:hover {
        & > ul {
          display: block;
        }
      }
    }
  }

  ul {
    float: left;
    background-color: #ededed;
  }

  li {
    float: left;
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    cursor: pointer;
    position: relative;
    display: block;

    & > ul {
      display: none;
      position: absolute;
      box-shadow: 2px 6px 10px 0 rgba(105, 109, 115, 0.4);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      left: 0;

      li {
        line-height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 180px;
        width: 100%;

        &.check {
          padding-left: 20px;

          &:before {
            content: '';
            border-bottom: 1px solid #666;
            border-right: 1px solid #666;
            transform: rotate(45deg);
            width: 5px;
            height: 10px;
            position: absolute;
            left: 7px;
            top: 9px;
            transform: all 0.2s;
            display: none;
          }

          &.active {
            &:before {
              display: block;
            }
          }
        }

        &:hover {
          color: white;
          background: #6a6d73;

          &.check {
            &:before {
              border-bottom-color: white;
              border-right-color: white;
            }
          }

          .shortcut {
            color: white;
          }

          & > .placeholder {
            &.arrow:after {
              border-left-color: white;
            }
          }
        }

        &.seperator {
          height: 1px;
          background-color: #d3d3de;
          pointer-events: none;
          line-height: 1px;
        }

        .text {
          line-height: 30px;
          display: inline-block;
        }

        .shortcut {
          line-height: 30px;
          display: inline-block;
          font-size: 12px;
          color: #999;
        }

        .placeholder {
          position: relative;

          &.arrow:after {
            content: '';
            width: 4px;
            height: 6px;
            border: 3px solid transparent;
            border-left-color: #666;
            display: block;
            position: absolute;
            top: 13px;
            right: 0;
          }
        }

        ul {
          left: 100%;
          top: 0;
        }
      }
    }
  }

  & > ul > li {
    padding-left: 15px;
    padding-right: 15px;
    height: $menu-height;

    &:last-child {
      margin-right: 0;
    }

    & > .placeholder {
      text-align: center;
      line-height: $menu-height;
      padding-right: 11px;
      position: relative;

      &:after {
        content: '';
        width: 6px;
        height: 4px;
        border: 3px solid transparent;
        border-top-color: #666;
        display: block;
        position: absolute;
        top: 11px;
        right: 2px;
      }
    }
  }
}

.project-path {
  margin-left: 20px;
  font-size: 12px;
  max-width: 500px;
}

.logo-wrap {
  display: flex;
  flex-shrink: 0;
  height: $logo-size;
  line-height: $logo-size;
}

.logo {
  width: $logo-size;
  height: $logo-size;
  background: url(../assets/logo.png) center center no-repeat;
  background-size: $logo-size;
  margin-left: 11px;
  margin-right: 6px;
}

.btns {
  -webkit-app-region: no-drag;
  height: 50px;
  width: 100px;

  ul {
    display: flex;
    margin: 15px 10px;
    justify-content: space-between;

    li {
      cursor: pointer;
      width: 20px;
      height: 20px;

      &:hover {
        i {
          color: #999;
        }
      }

      i {
        line-height: 20px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: #ccc;
        transition: color 0.2s;
      }
    }
  }
}

.placeholder {
  flex: 1;
}
