@include keyframes('component-fadeIn') {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tab-hardware {
	display: flex;

	.hover-button {
		position: relative;

		.icon {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(0);
			opacity: 1;
			transition: all 0.2s;
		}

		.text {
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 12px;
			line-height: 40px;
			text-align: center;
			transform: translateY(40px);
			opacity: 0;
			transition: all 0.2s;
		}

		&:hover {
			.text {
				transform: translateY(0);
				opacity: 1;
			}

			.icon {
				transform: translateY(-40px);
				opacity: 0;
			}
		}
	}

	.left-region {
		// position: absolute;
		// top: 0;
		// left: 0;
		// bottom: 0;
		// padding-top: 20px;
		position: relative;
		width: 300px;
		background-color: white;
		display: flex;
		flex-direction: column;

		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 5px;
			top: 0;
			bottom: 0;
			right: -5px;
			background-color: #eceef1;
		}
	}

	.center-region {
		// position: absolute;
		// top: 0;
		// left: 305px;
		// bottom: 0;
		// right:  0;
		flex: 1;
		position: relative;
		margin-left: 5px;
		display: flex;
		flex-direction: column;

		.top-region {
			// position: absolute;
			// top: 0;
			// left: 0;
			// right: 0;
			// height: 60px;
			// padding-top: 18px;
			position: relative;
			height: 42px;
			margin-top: 18px;
		}

		.canvas-region {
			// position: absolute;
			// top: 60px;
			// left: 0;
			// right: 0;
			// bottom: 0;
			flex: 1;
			position: relative;
		}
	}

	.categories {
		display: flex;

		li {
			flex: 1;
			letter-spacing: 2px;
			height: 60px;
			line-height: 60px;
			color: #666;
			background-color: #f7f9f9;
			position: relative;
			text-align: center;
			cursor: pointer;
			transition: background-color 0.2s color 0.2s;

			&:before {
				content: '';
				height: 1px;
				width: 30px;
				position: absolute;
				background-color: #0088ff;
				top: 45px;
				left: calc(50% - 15px);
				display: none;
			}

			&.active {
				background-color: white;
				color: #0088ff;

				&:before {
					display: block;
				}
			}

			&:hover {
				color: #0088ff;
			}
		}
	}

	.filters {
		display: flex;
		padding: 20px 15px;
    	justify-content: space-between;
    	border-top: 1px solid #eceef1;
    	border-bottom: 1px solid #eceef1;

		li {
			border-radius: 5px;
			width: 60px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			letter-spacing: 2px;
			font-size: 12px;
			border: 1px solid #ddd;
			cursor: pointer;

			&.active {
				background-color: #20a0ff;
				border-color: #20a0ff;
				color: white;

				&:hover {
					border-color: #20a0ff;
					color: white;
				}
			}

			&:hover {
				color: #0088ff;
				border-color: #0088ff;
			}
		}
	}

	.components-wrap {
		// left: 0;
		// right: 0;
		// top: 190px;
		// bottom: 20px;
		// position: absolute;
		position: relative;
		flex: 1;
		margin-bottom: 20px;

		& > ul {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			width: 100%;

			&.active {
				display: flex;
			}
		}

		.components {
			justify-content: flex-start;
			flex-flow: row wrap;
			padding-left: 9px;
			padding-right: 9px;
			margin-top: 10px;
		}

		.vendor-components {
			flex-direction: column;

			& > li {
				display: flex;
				flex-direction: column;

				.placeholder {
					display: flex;
					height: 40px;
					line-height: 40px;
					position: relative;
					cursor: pointer;
					border-bottom: 1px solid #eceef1;

					.vendor-logo {
						height: 30px;
						width: 30px;
						margin: 5px 12px 5px 14px;
					}

					.vendor-name {
						color: #666;
						max-width: 200px;
					}

					&:after {
						content: '';
						border: 4px solid transparent;
						border-left-color: #999;
						display: block;
						position: absolute;
						top: 15px;
						right: 14px;
					}

					&:hover {
						.vendor-name {
							color: #0088ff;
						}
					}
				}

				& > ul {
					display: none;
					justify-content: flex-start;
					flex-direction: row;
					flex-wrap: wrap;
					border-bottom: 1px solid #eceef1;
					padding: 15px 9px;
				}

				&.active {
					.placeholder {
						&:after {
							border-left-color: transparent;
							border-top-color: #999;
							top: 17px;
							right: 17px;
						}
					}

					& > ul {
						display: flex;
					}
				}
			}
		}

		.component-item {
			width: 72px;
			margin: 10px 11px;
			opacity: 0;
			display: none;

			.image-wrap {
				width: 72px;
				height: 72px;
				display: flex;
				border: 1px solid #dee9e9;
				border-radius: 8px;
			}

			.image {
				cursor: grab;
				max-width: 72px;
				max-height: 72px;
				margin: auto;
			}

			.name {
				cursor: default;
				margin-top: 7px;
				width: 72px;
				height: 20px;
				text-align: center;
				color: #718ac0;
				user-select: none;
				font-size: 12px;
			}

			&.active {
				display: block;
				@include animation('component-fadeIn' 1s both);
			}
		}
	}

	.boards-region {
		margin-left: 20px;
		float: left;

		.boards {
			width: 230px;
			height: 40px;
			float: left;

			.placeholder {
				padding: 8px 30px 8px 8px;
				border: 1px solid #c4d1dd;
				border-radius: 5px;

				&:after {
					content: '';
					width: 6px;
					height: 4px;
					border: 4px solid transparent;
					border-top-color: #c4d1dd;
					position: absolute;
					top: 18px;
					right: 12px;
				}
			}

			.board-name {
				height: 24px;
				line-height: 24px;
				font-size: 12px;
				color: #75828e;
				max-width: 140px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				float: left;
			}

			.board {
				margin-right: 8px;
				width: 42px;
				height: 24px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				float: left;
			}

			& > ul {
				background-color: #f7f9f9;

				li {
					height: 40px;
					padding: 8px 30px 8px 8px;
					transition: background-color 0.2s;

					&:hover {
						background-color: #f2f2f2;
					}

					&.seperator {
						height: 1px;
						padding: 0;
						background-color: #EDF1F4;
						pointer-events: none;
					}

					&.board-manager {
						color: #75828e;
						line-height: 24px;

						& > i {
							font-size: 24px;
							height: 24px;
							width: 42px;
							display: inline-block;
							text-align: center;
							float: left;
						}

						& > span {
							margin-left: 8px;
						}
					}
				}
			}

			&.active {
				.placeholder {
					border-bottom: none;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;

					&:after {
						border-top-color: transparent;
						border-bottom-color: #c4d1dd;
						top: 13px;
					}
				}

				& > ul {
					border-left: 1px solid #c4d1dd;
					border-right: 1px solid #c4d1dd;
					border-bottom: 1px solid #c4d1dd;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
	}

	.component-option-region {
		float: left;
		height: 40px;
		width: 210px;
		margin-left: 10px;
		border-radius: 5px;
		border: 1px solid #f69c4d;
		background-color: #fdbf2d;
		display: none;

		.name-label {
			letter-spacing: 2px;
			color: white;
			font-size: 14px;
			line-height: 40px;
			margin-left: 11px;
			margin-right: 5px;
		}

		.name {
			margin-top: 6px;
			margin-bottom: 6px;
			height: 28px;
			line-height: 28px;
			background-color: white;
			width: 150px;
			color: #718ac0;
			letter-spacing: 1px;
			padding: 4px 10px;
		}

		&.active {
			display: block;
		}
	}

	.tool-button {
		height: 40px;
		width: 40px;
		border-radius: 5px;
		line-height: 40px;
		border-width: 1px;
		border-style: solid;
		float: left;
		cursor: pointer;
		transition: all 0.2s;

		& > i {
			display: block;
			font-size: 24px;
			margin-left: auto;
			margin-right: auto;
			width: 24px;
		}

		& > span {
			font-size: 16px;
		}

		&[disabled] {
			pointer-events: none;
		}

		&.simple {
			width: 40px;

			& > i {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}

			& > span {
				display: none;
			}
		}
	}

	.show-monitor {
		margin-left: 20px;
		color: white;
		background-color: #888694;
		border: 1px solid #646271;

		&:hover {
			background-color: #646271;
			border-color: #646271;
		}

		&.active {
			background-color: #646271;
			border-color: #646271;
		}
	}

	.save {
		margin-left: 20px;
		color: white;
		background-color: #888694;
		border: 1px solid #646271;

		&:hover {
			background-color: #646271;
			border-color: #646271;
		}
	}

	.check {
		color: white;
		background-color: #888694;
		border: 1px solid #646271;
		position: relative;
		overflow: hidden;

		&:hover {
			background-color: #646271;
			border-color: #646271;
		}

		&[disabled] {
			background-color: #f1f1f1;
			border-color: #666;
			color: #333;
		}

		.x-progress {
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(151, 228, 67, 0.8);
			top: 0;
			left: -100%;
			transition: 0.2s left;
			pointer-events: none;
		}
	}

	.switch-software {
		width: 100px;
		color: white;
		background-color: #20A0FF;
		border-color: #298cd5;
		margin-right: 20px;
		margin-left: 20px;

		&:hover {
			background-color: #0078cf;
			border-color: #0078cf;
		}

		& > i {
			float: left;
			margin-left: 17px;
			margin-right: 8px;
		}
	}

	.hardware-container {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		border-radius: 10px;

		&.can-drop {
			background-color: #f3f7fa;
		}

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			border: 1px dashed #6c779b;
			border-radius: 10px;
			position: absolute;
		}
	}
}

.hardware-container {
	.board {
		width: 355px;
		height: 265px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.component {
		position: absolute;
		background-color: white;
		z-index: 1;
		cursor: grab;
		border-radius: 8px;
		border: 1px solid #dee3e9;

		&.selected,
		&.jsplumb-dragged {
			z-index: 8;
			box-shadow: 0 0 0 1px #f1c933;
		}
	}

	.jsplumb-connector {
		cursor: pointer;

		&.jsplumb-hover,
		&.selected {
			z-index: 8;
		}
	}

	.jsplumb-overlay {
		opacity: 0;
		transition: opacity 80ms ease-in;
		z-index: 10;
		padding: 3px 5px;
		background-color: #fdbf2d;
		pointer-events: none;

		&.jsplumb-hover {
			opacity: 1;
		}
	}

	.jsplumb-endpoint {
		z-index: 9;
		cursor: pointer;
		border-radius: 10px;

		&.board-endpoint {
			opacity: 0;
		}

		&.hidden-endpoint {
			pointer-events: none;

			& > svg {
				pointer-events: none;
			}
		}

		&.jsplumb-hover,
		&.selected {
			z-index: 9;
			opacity: 1;
		}

		&.drag-active {
			opacity: 0.6;
			pointer-events: auto;

			& > svg {
				pointer-events: auto;
			}
		}

		&.drop-hover {
			opacity: 1;
		}

		&.drag-hover {
			opacity: 0.6;
		}

		&.jsplumb-endpoint-connected {
			opacity: 1;
			background-color: #f1c933;
		}
	}
}

.component-drag-layer {
	.drag-component {
		border-radius: 8px;
		border: 1px solid #dee3e9;
		width: 72px;
		height: 72px;
		background-color: white;
	}
}