.sidebar-region {
	background-color: #eceef1;

	& > ul > li {
		cursor: pointer;
		color: #8a95a6;
		height: 45px;
		transition: color 0.2s;
		position: relative;
		margin-top: 20px;

		&:first-child {
			margin-top: 10px;
		}

		&:hover {
			color: #20a0ff;
		}

		&.active {
			color: #20a0ff;

			&:after {
				display: block;
			}
		}

		&:after {
			display: none;
			position: absolute;
			content: '';
			width: 3px;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #20a0ff;
		}

		.icon {
			font-size: 22px;
			line-height: 28px;
			height: 28px;
			display: block;
			text-align: center;
		}

		.name {
			text-align: center;
			line-height: 12px;
			letter-spacing: 2px;
			font-size: 12px;
			display: block;
			margin-top: 5px;
		}
	}
}