<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="user-scalable=no">
		<title>啃萝卜智能硬件平台</title>
		<link href="assets/css/edu.css" rel="stylesheet">
		<script src="assets/js/require.js" data-main="assets/js/edu"></script>
	</head>
	<body>
		<div class="main no-select">
			<div class="content-region">
				<div class="tab tab-hardware">
					<div class="left-region">
						<div class="search-wrap">
							<input class="search" type="text" placeholder="搜索..." />
							<i class="kenrobot ken-search"></i>
						</div>
						<div class="filters-wrap">
							<ul class="filters">
								<li data-filter="all">全部</li>
								<li data-filter="sensor">传感模块</li>
								<li data-filter="action">执行模块</li>
								<li data-filter="function">通信模块</li>
							</ul>
						</div>
						<div class="components-wrap no-scrollbar">
							<ul class="components"></ul>
						</div>
					</div>
					<div class="center-region">
						<div class="top-region">
							<div class="clearfix pull-left">
								<div class="boards-region">
									<div class="x-select boards">
										<div class="placeholder"></div>
										<ul></ul>
									</div>
								</div>
								<div class="component-option-region">
									<span class="name-label">名字</span>
									<input class="name" type="text" spellcheck="false" />
								</div>
							</div>
							<div class="clearfix pull-right">
								<div class="tool-button check" data-action="check" title="验证代码">
									<div class="x-progress"></div>
									<i class="kenrobot ken-check"></i>
								</div>
								<div class="tool-button save" data-action="save" title="保存项目">
									<i class="kenrobot ken-save"></i>
								</div>
								<div class="tool-button show-monitor" data-action="show-monitor" title="显示串口监视器">
									<i class="kenrobot ken-monitor"></i>
								</div>
								<div class="tool-button switch-software" data-action="switch-software" title="返回编程">
									<i class="kenrobot ken-edu-block"></i><span>编程</span>
								</div>
							</div>
						</div>
						<div class="canvas-region">
							<div id="hardware-container" class="hardware-container" droppable="true">
								<div class="board absolute-center"></div>
							</div>
							<ul class="x-context-menu component-menu">
								<li data-action="copy">复制</li>
								<li data-action="disconnect">断开</li>
								<li data-action="delete">删除</li>
							</ul>
							<ul class="x-context-menu board-menu">
								<li data-action="disconnect">断开</li>
								<li data-action="delete">删除</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab tab-software">
					<div class="left-region">
						<div class="filters-wrap">
							<ul class="filters">
								<li data-filter="module">模块</li>
								<li data-filter="data">数据</li>
								<li data-filter="variable">变量</li>
								<li data-filter="function">函数</li>
								<li data-filter="logic">逻辑</li>
								<li data-filter="operation">运算</li>
								<li data-filter="code">代码</li>
								<li data-filter="time">时间</li>
							</ul>
						</div>
						<div class="filter">
							<span class="filter-name">全部</span>
							<input class="advanced" type="button" value="高级" />
						</div>
						<div class="blocks-wrap no-scrollbar">
							<ul class="blocks"></ul>
						</div>
					</div>
					<div class="center-region">
						<div class="code-region">
							<div id="code-container" class="code-container"></div>
							<span class="copy" title="复制代码"><i class="kenrobot ken-clone"></i></span>
						</div>
						<div class="software-region">
							<div class="top-region">
								<div class="clearfix pull-left">
									<div class="tool-button upload" data-action="upload" title="上传">
										<div class="x-progress"></div>
										<i class="kenrobot ken-upload"></i><span>上传</span>
									</div>
								</div>
								<div class="clearfix pull-right">
									<div class="tool-button check" data-action="check" title="验证代码">
										<div class="x-progress"></div>
										<i class="kenrobot ken-check"></i>
									</div>
									<div class="tool-button save" data-action="save" title="保存项目">
										<i class="kenrobot ken-save"></i>
									</div>
									<div class="tool-button show-monitor" data-action="show-monitor" title="显示串口监视器">
										<i class="kenrobot ken-monitor"></i>
									</div>
									<div class="tool-button show-code" data-action="show-code" title="显示源码">
										<i class="kenrobot ken-edu-code"></i><span>显示源码</span>
									</div>
									<div class="tool-button switch-hardware" data-action="switch-hardware" title="返回硬件">
										<i class="kenrobot ken-edu-hardware"></i><span>返回硬件</span>
									</div>
								</div>
							</div>
							<div class="block-region">
								<div id="software-container" class="software-container no-scrollbar">
									<div class="block-group-region block-global">
										<div class="group-header"><span>全局变量、函数</span></div>
										<div class="group-extension">
											<div class="group-description">如果你有变量需要在setup和loop里面同时使用，要在这里定义哦<br />如果你需要定义函数，要在这里定义哦</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
									<div class="block-group-region block-setup">
										<div class="group-header"><span>Setup</span></div>
										<div class="group-extension">
											<div class="group-description">什么事情需要程序开始时只做一遍，放在这里面吧</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
									<div class="block-group-region block-loop">
										<div class="group-header"><span>Loop</span></div>
										<div class="group-extension">
											<div class="group-description">这里就是程序一直在做的事情，记得是无限循环哦</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
								</div>
								<ul class="x-context-menu block-menu">
									<li data-action="copy">复制</li>
									<li data-action="comment">注释</li>
									<li data-action="uncomment">取消注释</li>
									<li data-action="delete">删除</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="no-select layers">
			<div class="layer drag-layer block-drag-layer"></div>
			<div class="layer drag-layer component-drag-layer"></div>
		</div>
	</body>
</html>
