<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="user-scalable=no">
		<title>啃萝卜智能硬件平台</title>
		<link href="assets/css/index.css" rel="stylesheet">
		<script src="renderer/index.js"></script>
		<script>(function(a) {delete a.require;delete a.exports;delete a.module;})(window);</script>
		<script src="assets/js/require.js" data-main="assets/js/index"></script>
	</head>
	<body>
		<div class="main no-select">
			<div class="titlebar-region">
				<div class="logo"></div>
				<div class="left-widgets">
					<div class="app-menu">
						<ul>
							<li>
								<div class="placeholder">文件</div>
								<ul>
									<li data-action="new-project">
										<span class="text">新建项目</span><span class="shortcut">Ctrl+N</span>
									</li>
									<li class="seperator"></li>
									<li data-action="open-project">
										<span class="text">打开项目</span><span class="shortcut">Ctrl+O</span>
									</li>
									<li data-action="save-project">
										<span class="text">保存项目</span><span class="shortcut">Ctrl+S</span>
									</li>
									<li data-action="save-as-project">
										<span class="text">另存为</span><span class="shortcut">Ctrl+Shift+S</span>
									</li>
								</ul>
							</li>
							<li>
								<div class="placeholder">编辑</div>
								<ul>
									<li data-action="toggle-comment">
										<span class="text">注释/取消注释</span><span class="shortcut">Ctrl+/</span>
									</li>
									<li class="seperator"></li>
									<li data-action="copy">
										<span class="text">复制</span><span class="shortcut">Ctrl+C</span>
									</li>
								</ul>
							</li>
							<li>
								<div class="placeholder">案例</div>
								<ul>
									<li class="example-built-in">
										<div class="placeholder arrow">内置示例</div>
										<ul></ul>
									</li>
									<li class="seperator"></li>
									<li class="example-third-party">
										<div class="placeholder arrow">第三方示例</div>
									</li>
								</ul>
							</li>
							<li>
								<div class="placeholder">选项</div>
								<ul>
									<li data-action="fullscreen">
										<span class="text">全屏</span>
									</li>
									<li data-action="language">
										<span class="text">语言</span>
									</li>
									<li data-action="theme">
										<span class="text">主题</span>
									</li>
									<li class="seperator"></li>
									<li data-action="setting">
										<span class="text">设置</span>
									</li>
								</ul>
							</li>
							<li>
								<div class="placeholder">帮助</div>
								<ul>
									<li data-action="download-arduino-driver">
										<span class="text">Arduino驱动下载</span>
									</li>
									<li class="seperator"></li>
									<li data-action="check-update">
										<span class="text">检查更新</span>
									</li>
									<li data-action="visit-kenrobot">
										<span class="text">啃萝卜官网</span>
									</li>
									<li data-action="visit-arduino">
										<span class="text">Arduino论坛</span>
									</li>
									<li class="seperator"></li>
									<li data-action="suggestion">
										<span class="text">建议反馈</span>
									</li>
									<li data-action="about-kenrobot">
										<span class="text">关于啃萝卜</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="right-widgets">
					<div class="login-region">
						<div class="placeholder">
							<div class="photo no-user">
								<img src="assets/image/default-user.png" />
							</div>
							<div class="name">未登录</div>
						</div>
						<div class="login-menu">
							<ul>
								<li data-action="setting"><span>设置</span></li>
								<li data-action="logout"><span>退出</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="window-btns">
					<ul>
						<li data-action="min"><i class="kenrobot ken-screen-min"></i></li>
						<li data-action="max"><i class="kenrobot ken-screen-max"></i></li>
						<li data-action="close"><i class="kenrobot ken-close"></i></li>
					</ul>
				</div>
			</div>
			<div class="content-region">
				<div class="tab tab-hardware">
					<div class="left-region">
						<div class="search-wrap">
							<input class="search" type="text" placeholder="搜索..." />
							<i class="kenrobot ken-search"></i>
						</div>
						<div class="filters-wrap">
							<ul class="filters">
								<li data-filter="all">全部</li>
								<li data-filter="sensor">传感模块</li>
								<li data-filter="action">执行模块</li>
								<li data-filter="function">通信模块</li>
							</ul>
						</div>
						<div class="components-wrap no-scrollbar">
							<ul class="components"></ul>
						</div>
					</div>
					<div class="center-region">
						<div class="top-region">
							<div class="clearfix pull-left">
								<div class="boards-region">
									<div class="x-select boards">
										<div class="placeholder"></div>
										<ul></ul>
									</div>
								</div>
								<div class="component-option-region">
									<span class="name-label">名字</span>
									<input class="name" type="text" spellcheck="false" />
								</div>
							</div>
							<div class="clearfix pull-right">
								<div class="tool-button check" data-action="check" title="验证代码">
									<div class="x-progress"></div>
									<i class="kenrobot ken-check"></i>
								</div>
								<div class="tool-button save" data-action="save" title="保存项目">
									<i class="kenrobot ken-save2"></i>
								</div>
								<div class="tool-button show-monitor" data-action="show-monitor" title="显示串口监视器">
									<i class="kenrobot ken-monitor"></i>
								</div>
								<div class="tool-button switch-software" data-action="switch-software" title="返回编程">
									<i class="kenrobot ken-edu-block"></i><span>编程</span>
								</div>
							</div>
						</div>
						<div class="canvas-region">
							<div id="hardware-container" class="hardware-container" droppable="true">
								<div class="board absolute-center"></div>
							</div>
							<ul class="x-context-menu component-menu">
								<li data-action="copy">复制</li>
								<li data-action="disconnect">断开</li>
								<li data-action="delete">删除</li>
							</ul>
							<ul class="x-context-menu board-menu">
								<li data-action="disconnect">断开</li>
								<li data-action="delete">删除</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab tab-software">
					<div class="left-region">
						<div class="filters-wrap">
							<ul class="filters">
								<li data-filter="module">模块</li>
								<li data-filter="data">数据</li>
								<li data-filter="variable">变量</li>
								<li data-filter="function">函数</li>
								<li data-filter="logic">逻辑</li>
								<li data-filter="operation">运算</li>
								<li data-filter="code">代码</li>
								<li data-filter="time">时间</li>
							</ul>
						</div>
						<div class="filter">
							<span class="filter-name">全部</span>
							<input class="advanced" type="button" value="高级" />
						</div>
						<div class="blocks-wrap no-scrollbar">
							<ul class="blocks"></ul>
						</div>
					</div>
					<div class="center-region">
						<div class="code-region">
							<div id="code-container" class="code-container"></div>
							<span class="copy" title="复制代码"><i class="kenrobot ken-clone"></i></span>
						</div>
						<div class="software-region">
							<div class="top-region">
								<div class="clearfix pull-left">
									<div class="tool-button upload" data-action="upload" title="上传">
										<div class="x-progress"></div>
										<i class="kenrobot ken-upload2"></i><span>上传</span>
									</div>
								</div>
								<div class="clearfix pull-right">
									<div class="tool-button check" data-action="check" title="验证代码">
										<div class="x-progress"></div>
										<i class="kenrobot ken-check"></i>
									</div>
									<div class="tool-button save" data-action="save" title="保存项目">
										<i class="kenrobot ken-save2"></i>
									</div>
									<div class="tool-button show-monitor" data-action="show-monitor" title="显示串口监视器">
										<i class="kenrobot ken-monitor"></i>
									</div>
									<div class="tool-button show-code" data-action="show-code" title="显示源码">
										<i class="kenrobot ken-edu-code"></i><span>显示源码</span>
									</div>
									<div class="tool-button switch-hardware" data-action="switch-hardware" title="返回硬件">
										<i class="kenrobot ken-edu-hardware"></i><span>返回硬件</span>
									</div>
								</div>
							</div>
							<div class="block-region">
								<div id="software-container" class="software-container no-scrollbar">
									<div class="block-group-region block-global">
										<div class="group-header"><span>全局变量、函数</span></div>
										<div class="group-extension">
											<div class="group-description">如果你有变量需要在setup和loop里面同时使用，要在这里定义哦<br />如果你需要定义函数，要在这里定义哦</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
									<div class="block-group-region block-setup">
										<div class="group-header"><span>Setup</span></div>
										<div class="group-extension">
											<div class="group-description">什么事情需要程序开始时只做一遍，放在这里面吧</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
									<div class="block-group-region block-loop">
										<div class="group-header"><span>Loop</span></div>
										<div class="group-extension">
											<div class="group-description">这里就是程序一直在做的事情，记得是无限循环哦</div>
											<div class="group-placeholder">拖一个块放到这里开始你第一个程序吧</div>
										</div>
									</div>
								</div>
								<ul class="x-context-menu block-menu">
									<li data-action="copy">复制</li>
									<li data-action="comment">注释</li>
									<li data-action="uncomment">取消注释</li>
									<li data-action="delete">删除</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="no-select layers">
			<div class="layer modal dialog-layer">
				<div class="x-dialog common-dialog">
					<i class="kenrobot ken-close x-dialog-close"></i>
					<div class="x-dialog-header"></div>
					<div class="x-dialog-content"></div>
					<div class="x-dialog-btns">
						<input class="x-dialog-btn cancel" type="button" value="取消" /><input class="x-dialog-btn confirm" type="button" value="确定" />
					</div>
				</div>
				<div class="x-dialog port-dialog">
					<div class="x-dialog-title"><i class="kenrobot ken-setting"></i>端口选择</div>
					<div class="port-label">端口:</div>
					<div class="x-select port-list">
						<div class="placeholder"></div>
						<ul></ul>
					</div>
					<div class="x-dialog-btns">
						<input class="x-dialog-btn cancel" type="button" value="取消" /><input class="x-dialog-btn confirm" type="button" value="确定" />
					</div>
				</div>
				<div class="x-dialog install-driver-dialog">
					<div class="x-dialog-title">驱动问题</div>
					<i class="kenrobot ken-close x-dialog-close"></i>
					<div class="x-dialog-content selectable">
						如果你遇到了Arduino<span class="strong">驱动问题</span>，请按以下步骤操作:
						<div class="step">
							Step 1: 点击<a class="driver-url" data-url="http://ide.kenrobot.com/download/arduino-driver-xBIT.zip" title="arduino驱动">下载</a>并解压<br />
							Step 2: 运行<span class="strong">arduino驱动安装.exe</span><br />
							Step 3: 完成安装
						</div>
					</div>
					<div class="x-dialog-btns">
						<button class="x-dialog-btn confirm">确定</button>
					</div>
				</div>
				<div class="x-dialog library-manage-dialog">
					<div class="x-dialog-title">库管理</div>
					<i class="kenrobot ken-close x-dialog-close"></i>
					<div class="x-dialog-content">
						<div class="toolbar">
							<span class="type-label">类型</span>
							<div class="x-select types">
								<div class="placeholder"></div>
								<ul>
									<li data-value="all">全部</li>
									<li data-value="can-update">可更新</li>
									<li data-value="kenrobot">kenrobot</li>
									<li data-value="arduino">arduino</li>
									<li data-value="third-party">第三方</li>
								</ul>
							</div>
							<span class="theme-label">主题</span>
							<div class="x-select themes">
								<div class="placeholder"></div>
								<ul>
									<li data-value="all">全部</li>
									<li data-value="comunication">通信</li>
									<li data-value="data-handle">数据处理</li>
									<li data-value="data-storage">数据存储</li>
									<li data-value="device-control">设备控制</li>
									<li data-value="display">显示</li>
									<li data-value="sensor">传感器</li>
									<li data-value="signal input/output">信号输入/输出</li>
									<li data-value="others">其它</li>
								</ul>
							</div>
							<input class="filter" type="text" placeholder="关键词过滤..." /> 
						</div>
						<div class="list">
							<ul>
								<li>
									<div>
										<span class="name">Adafruit ADS1X15</span>
										<span class="author">by Arduino</span>
									</div>
									<div class="des">
										<span class="desA">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
										<span class="desB">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
									</div>
									<div class="clearfix">
										<span class="more">更多信息</span>
										<input type="button" class="install" value="安装" />
										<div class="x-select versions">
											<div class="placeholder"></div>
											<ul>
												<li data-value="1.6.1">1.6.1</li>
												<li data-value="1.6.2">1.6.2</li>
												<li data-value="1.6.3">1.6.3</li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<div>
										<span class="name">Adafruit ADS1X15</span>
										<span class="author">by Arduino</span>
									</div>
									<div class="des">
										<span class="desA">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
										<span class="desB">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
									</div>
									<div class="clearfix">
										<span class="more">更多信息</span>
										<input type="button" class="install" value="安装" />
										<div class="x-select versions">
											<div class="placeholder"></div>
											<ul>
												<li data-value="1.6.1">1.6.1</li>
												<li data-value="1.6.2">1.6.2</li>
												<li data-value="1.6.3">1.6.3</li>
											</ul>
										</div>
									</div>
								</li>
								<li>
									<div>
										<span class="name">Adafruit ADS1X15</span>
										<span class="author">by Arduino</span>
									</div>
									<div class="des">
										<span class="desA">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
										<span class="desB">Driver for TI’s ADS1015:12-bit Differential or Single-Ended ADC with PGA and Comparator</span>
									</div>
									<div class="clearfix">
										<span class="more">更多信息</span>
										<input type="button" class="install" value="安装" />
										<div class="x-select versions">
											<div class="placeholder"></div>
											<ul>
												<li data-value="1.6.1">1.6.1</li>
												<li data-value="1.6.2">1.6.2</li>
												<li data-value="1.6.3">1.6.3</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="x-dialog error-dialog">
					<i class="kenrobot ken-close x-dialog-close"></i>
					<div class="x-dialog-title">错误提示日志</div>
					<div class="x-dialog-content">
						<div class="output can-select"></div>
					</div>
					<div class="x-dialog-btns clearfix">
						<input class="copy" type="button" value="复制日志" />
					</div>
				</div>
			</div>
			<div class="layer message-layer">
			</div>
			<div class="layer drag-layer block-drag-layer"></div>
			<div class="layer drag-layer component-drag-layer"></div>
			<div class="layer modal modal-message-layer">
				<div class="x-modal-message">
					<div class="loading">
						<span class="circle circle-1"></span>
						<span class="circle circle-2"></span>
						<span class="circle circle-3"></span>
					</div>
					<div class="content"></div>
				</div>
			</div>
			<div class="layer float-layer">
				<div class="x-float monitor">
					<div class="titlebar">
						<span>串口监视器</span>
						<span class="suffix"></span>
						<i class="kenrobot ken-close close-btn"></i>
					</div>
					<div class="toolbar">
						<input class="command" type="text" />
						<input class="send" type="button" value="发送" />
						<input class="switch" type="button" value="切换视图" />
					</div>
					<div class="wrap">
						<div class="tab tab-monitor active">
							<textarea class="output" contenteditable="true" readonly="true" spellcheck="false"></textarea>
						</div>
						<div class="tab tab-plotter">
							
						</div>
					</div>
					<div class="bottombar">
						<div class="left-widgets">
							<input class="x-checkbox auto-scroll" type="checkbox" id="auto-scroll" />
							<label for="auto-scroll">自动滚屏</label>
							<input class="clear" type="button" value="清屏" />
						</div>
						<div class="right-widgets">
							<input class="open" type="button" value="打开串口" />
							<div class="x-select newlines">
								<div class="placeholder"></div>
								<ul>
									<li data-value="raw">没有结束符</li>
									<li data-value="NL">换行符</li>
									<li data-value="CR">回车</li>
									<li data-value="NLCR">NL和CR</li>
								</ul>
							</div>
							<div class="x-select baud-rates">
								<div class="placeholder"></div>
								<ul>
									<li data-value="300">300 波特率</li>
									<li data-value="1200">1200 波特率</li>
									<li data-value="2400">2400 波特率</li>
									<li data-value="4800">4800 波特率</li>
									<li data-value="9600">9600 波特率</li>
									<li data-value="19200">19200 波特率</li>
									<li data-value="38400">38400 波特率</li>
									<li data-value="57600">57600 波特率</li>
									<li data-value="115200">115200 波特率</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
