.toolbar-region {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;

	.hover-button {
		float: left;
		margin-right: 15px;
		width: 40px;
		height: 40px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		line-height: 40px;
		background-color: #20A0FF;
		border-color: #298cd5;
		position: relative;
		overflow: hidden;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: #0078cf;
			border-color: #0078cf;

			.text {
				transform: translateY(0);
				opacity: 1;
			}

			.icon {
				transform: translateY(-40px);
				opacity: 0;
			}
		}

		&[disabled] {
			background-color: #f1f1f1;
			border-color: #666;
			color: #333;
		}

		.x-progress {
			height: 100%;
			width: 100%;
			position: absolute;
			background-color: rgba(151, 228, 67, 0.8);
			top: 0;
			left: 0;
			transform: translateX(-100%);
			transition: 0.2s transform;
			pointer-events: none;
		}

		.icon {
			display: block;
			font-size: 24px;
			width: 100%;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(0);
			opacity: 1;
			transition: all 0.2s;
		}

		.text {
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 12px;
			line-height: 40px;
			text-align: center;
			transform: translateY(40px);
			opacity: 0;
			transition: all 0.2s;
		}
	}
}