$module-color: #ec6e68;
$data-color: #20b5f9;
$variable-color: #eeca24;
$function-color: #f69023;
$logic-color: #d764ae;
$operation-color: #0b75d2;
$code-color: #a3ce47;
$time-color: #47c5ca;

$focus-color: #f1cb33;

@include keyframes('code-region-slideIn') {
    from {
    	opacity: 0;
        transform: translateX(100%);
    }
    to {
    	opacity: 1;
        transform: translateX(0);
    }
}

@include keyframes('code-region-slideOut') {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@include keyframes('software-region-shrink') {
    from {
        width: 100%;
    }
    to {
        width: 50%;
    }
}

@include keyframes('software-region-restroe') {
    from {
        width: 50%;
    }
    to {
        width: 100%;
    }
}

.tab-software {
	display: flex;

	.hover-button {
		position: relative;
		overflow: hidden;

		.text {
			width: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 12px;
			line-height: 40px;
			text-align: center;
			transform: translateY(40px);
			opacity: 0;
			transition: all 0.2s;
			display: none;
		}

		&.simple {
			.icon {
				width: 100%;
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(0);
				opacity: 1;
				transition: all 0.2s;
			}

			.text {
				display: block;
			}
		}

		&.simple:hover {
			.text {
				transform: translateY(0);
				opacity: 1;
			}

			.icon {
				transform: translateY(-40px);
				opacity: 0;
			}

			&.simple {
				.text {
					display: block;
				}
			}
		}
	}

	.left-region {
		// position: absolute;
		// top: 0;
		// left: 0;
		// bottom: 0;
		position: relative;
		width: 300px;
		flex-shrink: 0;

		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 5px;
			top: 0;
			bottom: 0;
			right: -5px;
			background-color: #eceef1;
		}
	}

	.center-region {
		// position: absolute;
		// top: 0;
		// left: 305px;
		// bottom: 0;
		// right: 0;
		position: relative;
		margin-left: 5px;
		flex: 1;

		.code-region {
			position: absolute;
			left: 50%;
			width: 50%;
			top: 0;
			bottom: 0;
			display: none;
			padding-top: 20px;
			padding-right: 28px;
			background-color: rgba(30, 30, 30, 0.94);

			&.active {
				display: block;

				& + .software-region {
					width: 50%;
				}
			}

			&.slide-in {
			    @include animation('code-region-slideIn' 0.2s cubic-bezier(0.18, 0.9, 0.32, 1) both);

			    & + .software-region {
			    	@include animation('software-region-shrink' 0.2s cubic-bezier(0.18, 0.9, 0.32, 1) both);
			    }
			}

			&.slide-out {
			    @include animation('code-region-slideOut' 0.2s cubic-bezier(0.18, 0.9, 0.32, 1) both);

			    & + .software-region {
			    	@include animation('software-region-restroe' 0.2s cubic-bezier(0.18, 0.9, 0.32, 1) both);
			    }
			}

			.code-container {
				height: 100%;
				font-size: 13px;
				line-height: 20px;
			}

			.copy {
				position: absolute;
				top: 10px;
				right: 10px;
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 5px;
				color: white;
				cursor: pointer;
				line-height: 40px;
				background-color: #20A0FF;
				border-color: #298cd5;

				&:hover {
					background-color: #0078cf;
					border-color: #0078cf;
				}

				& > i {
					display: block;
					font-size: 24px;
					margin-left: auto;
					margin-right: auto;
					// width: 24px;
				}
			}
		}

		.software-region {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 0;
			// display: flex;
			// position: relative;
			// flex-direction: column;
			// height: 100%;

			.top-region {
				overflow: hidden;
				position: absolute;
				top: 0;
				height: 60px;
				left: 0;
				right: 0;
				padding-top: 20px;
				// position: relative;
			 //    margin-top: 20px;
			 //    height: 40px;
			}

			.block-region {
				position: absolute;
				top: 60px;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 20px;
				// flex: 1;
				// position: relative;
			}
		}
	}

	.filters-wrap {
		padding: 6px 20px;
		float: left;
		margin-bottom: 20px;
		position: relative;

		&:after {
			content: ' ';
			height: 1px;
			display: block;
			position: relative;
			background-color: #eceef1;
			top: 164px;
			left: 0;
		}

		.filters {
			float: left;

			li {
				border-radius: 5px;
				width: 80px;
				height: 36px;
				font-size: 13px;
				letter-spacing: 2px;
				text-align: center;
				line-height: 36px;
				border-width: 1px;
				border-style: solid;
				margin-right: 10px;
				margin-top: 14px;
				cursor: pointer;
				float: left;
				transition: all 0.2s;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&[data-filter="module"] {
					color: $module-color;
					border-color: $module-color;

					&.active, &:hover {
						background-color: $module-color;
						color: white;
					}
				}

				&[data-filter="function"] {
					color: $function-color;
					border-color: $function-color;

					&.active, &:hover {
						background-color: $function-color;
						color: white;
					}
				}

				&[data-filter="variable"] {
					color: $variable-color;
					border-color: $variable-color;

					&.active, &:hover {
						background-color: $variable-color;
						color: white;
					}
				}

				&[data-filter="code"] {
					color: $code-color;
					border-color: $code-color;

					&.active, &:hover {
						background-color: $code-color;
						color: white;
					}
				}

				&[data-filter="time"] {
					color: $time-color;
					border-color: $time-color;

					&.active, &:hover {
						background-color: $time-color;
						color: white;
					}
				}

				&[data-filter="data"] {
					color: $data-color;
					border-color: $data-color;

					&.active, &:hover {
						background-color: $data-color;
						color: white;
					}
				}

				&[data-filter="operation"] {
					color: $operation-color;
					border-color: $operation-color;

					&.active, &:hover {
						background-color: $operation-color;
						color: white;
					}
				}

				&[data-filter="logic"] {
					color: $logic-color;
					border-color: $logic-color;

					&.active, &:hover {
						background-color: $logic-color;
						color: white;
					}
				}
			}
		}
	}

	.filter {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 15px;

		.filter-name {
			color: #718ac0;
			line-height: 28px;
			height: 28px;
			display: inline-block;
			letter-spacing: 2px;
		}

		.advanced {
			float: right;
			font-size: 12px;
			color: #718ac0;
			letter-spacing: 2px;
			height: 28px;
			width: 54px;
			border-radius: 5px;
			background-color: #eceef1;
			cursor: pointer;
		}
	}

	.blocks-wrap {
		left: 0;
		right: 0;
		top: 220px;
		bottom: 20px;
		position: absolute;
		overflow-x: hidden;

		.blocks {
			li {
				display: none;
				padding: 5px 15px;

				&.active {
					display: block;
				}
			}

			.block {
				position: relative;
			}
		}
	}

	.top-region {
		.tool-button {
			height: 40px;
			width: 40px;
			border-radius: 5px;
			line-height: 40px;
			border-width: 1px;
			border-style: solid;
			float: left;
			cursor: pointer;
			transition: all 0.2s;

			& > i {
				display: block;
				font-size: 24px;
				margin-left: auto;
				margin-right: auto;
				// width: 24px;
			}

			.text-normal {
				font-size: 16px;
			}

			&[disabled] {
				pointer-events: none;
			}

			&.simple {
				width: 40px;

				& > i {
					float: none;
					margin-left: auto;
					margin-right: auto;
				}

				.text-normal {
					display: none;
				}
			}
		}

		.upload {
			width: 100px;
			margin-left: 20px;
			color: #20A0FF;
			background-color: #EAF6FF;
			border-color: #A6D9FF;
			overflow: hidden;
			position: relative;

			&:hover {
				background-color: #20A0FF;
				border-color: #20A0FF;
				color: white;
			}

			& > i {
				float: left;
				margin-left: 17px;
				margin-right: 8px;
			}

			&[disabled] {
				background-color: #f1f1f1;
				border-color: #666;
				color: #333;
			}

			.x-progress {
				height: 100%;
				width: 100%;
				position: absolute;
				background-color: rgba(151, 228, 67, 0.8);
				top: 0;
				left: 0;
				transform: translateX(-100%);
				transition: transform 0.2s;
				pointer-events: none;
			}
		}

		.show-code {
			width: 132px;
			margin-left: 20px;
			color: white;
			background-color: #888694;
			border-color: #646271;

			&:hover {
				background-color: #646271;
				border-color: #646271;
			}

			& > i {
				float: left;
				margin-left: 17px;
				margin-right: 8px;
			}
		}

		.show-monitor {
			margin-left: 20px;
			color: white;
			background-color: #888694;
			border: 1px solid #646271;

			&:hover {
				background-color: #646271;
				border-color: #646271;
			}

			&.active {
				background-color: #646271;
				border-color: #646271;
			}
		}

		.save {
			margin-left: 20px;
			color: white;
			background-color: #888694;
			border: 1px solid #646271;

			&:hover {
				background-color: #646271;
				border-color: #646271;
			}
		}

		.check {
			color: white;
			background-color: #888694;
			border: 1px solid #646271;
			position: relative;
			overflow: hidden;

			&:hover {
				background-color: #646271;
				border-color: #646271;
			}

			&[disabled] {
				background-color: #f1f1f1;
				border-color: #666;
				color: #333;
			}

			.x-progress {
				height: 100%;
				width: 100%;
				position: absolute;
				background-color: rgba(151, 228, 67, 0.8);
				top: 0;
				left: 0;
				transform: translateX(-100%);
				transition: 0.2s transform;
				pointer-events: none;
			}
		}

		.switch-hardware {
			width: 132px;
			color: white;
			background-color: #20A0FF;
			border-color: #298cd5;
			margin-right: 20px;
			margin-left: 20px;

			&:hover {
				background-color: #0078cf;
				border-color: #0078cf;
			}

			& > i {
				float: left;
				margin-left: 17px;
				margin-right: 8px;
			}
		}
	}

	.software-container {
		height: 100%;
		position: relative;
	}

	.block-group-region {
		background-color: white;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		.group-header {
			span {
				height: 40px;
				font-size: 16px;
				line-height: 40px;
				padding-left: 40px;
				color: #718ac0;
				position: relative;
				cursor: pointer;
				display: inline-block;

				&:before {
					content: ' ';
					width: 0;
					height: 0;
					border: 8px solid transparent;
					border-left-color: #718ac0;
					position: absolute;
					left: 12px;
					top: 12px;
				}
			}
		}

		.group-extension {
			padding-left: 20px;
			padding-bottom: 50px;
			display: none;
			position: relative;

			.group-description {
				font-size: 13px;
				color: #a9b6d2;
				line-height: 18px;
				margin-bottom: 18px;
				cursor: default;
			}

			.group-placeholder {
				padding: 12px;
				color: #a9b6d2;
				border: 2px dashed #a9b6d2;
				font-size: 13px;
				line-height: 18px;
				display: inline-block;
				cursor: default;
			}

			&.dragging {
				.group-placeholder {
					border: 2px solid $focus-color;
				}
			}
		}

		.block-group {
			position: relative;
			height: 0;
			width: 100%;
			cursor: default;

			& > .connector-root {
				height: 70px;
				width: 290px;
				left: -20px;
				top: -60px;
				background-color: transparent;
			}
		}

		&.active {
			.group-header {
				span {
					&:before {
						border-left-color: transparent;
						border-top-color: #718ac0;
						top: 16px;
					}
				}
			}

			.group-extension {
				display: block;
			}
		}

		&.with-content {
			.group-extension {
				padding-top: 20px;
				padding-bottom: 20px;

				.group-description {
					display: none;
				}

				.group-placeholder {
					display: none;
				}
			}

			.block-group {
				position: relative;
				height: auto;
				width: 100%;

				& > .connector-root {
					height: 5px;
					left: 0;
					top: 0;
				}
			}
		}
	}

	.block-menu {
		li[data-action="comment"] {
			display: none;
		}

		li[data-action="uncomment"] {
			display: none;
		}

		&.comment {
			li[data-action="comment"] {
				display: block;
			}
		}

		&.uncomment{
			li[data-action="uncomment"] {
				display: block;
			}
		}
	}
}

.block-drag-layer {
	.block {
		&.fake {
			pointer-events: none;
		}
	}
}
